<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#232f3e">
    <a class="navbar-brand" style="cursor:pointer ;color: white;" routerLink="/covid19">Health Meter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active">
                <a class="nav-link" routerLink="/covid19" style="color: white;">Covid-19</a>
            </li>
        </ul>
    </div>
</nav>