table{
   text-align: center;
}
.row{
   text-align: center;

}
.inforow{
   text-transform: uppercase;

}
.statename{
   color: red;
   font-family: auto;
   font-size: 40px;
   text-transform: uppercase;
}