<div class="container" style="padding: 70px;">
    <div class="row">
        <div class="col-md-7 offset-md-3 col-sm-7 offset-sm-3" *ngIf="messageInfo">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="card-header">{{messageInfo.country}} :
                    </div>
                    <h5 class="card-title" class="text-center">Total : {{messageInfo.cases.total}}
                    </h5>
                    <hr>
                    <h5 *ngIf="!messageInfo.cases.new" class="card-title" class="text-center">New :
                        0

                    </h5>
                    <h5 *ngIf="messageInfo.cases.new" class="card-title" class="text-center">New :
                        {{messageInfo.cases.new|number}}
                    </h5>
                    <hr>
                    <h5 class="card-title" class="text-center">Active : {{messageInfo.cases.active}}
                    </h5>
                    <hr>
                    <h5 class="card-title" class="text-center">Deaths : {{messageInfo.deaths.total}}
                    </h5>
                    <hr>
                    <h5 class="card-title" class="text-center">Recovered : {{messageInfo.cases.recovered}}
                    </h5>
                </div>
            </div>
            <span>
                LastUpdated On : {{messageInfo.time}}
            </span>
        </div>

    </div>
</div>

<hr>


<div class="container">
    <div class="row" *ngIf="dataSource" style="padding:30px">
        <div class="col-md-3 col-sm-3 offset-md-8">
            <input #query type="text" class="form-control" placeholder="search..." (keyup)="filterData(query.value)" />
        </div>
    </div>
</div>
<div>
    <mat-table [dataSource]="dataSource" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cases.total|number:'2.'}} </mat-cell>
        </ng-container>

        <!-- New Column -->
        <ng-container matColumnDef="new">
            <mat-header-cell *matHeaderCellDef mat-sort-header> New </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngStyle]="{'color': element.cases.new? 'red' : ''}">
                {{element.cases.new|number:'2.'}} </mat-cell>
        </ng-container>

        <!-- Deaths Column -->
        <ng-container matColumnDef="deaths">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Deaths </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.deaths.total|number:'2.'}} </mat-cell>
        </ng-container>

        <!-- New Deaths Column -->
        <ng-container matColumnDef="new deaths">
            <mat-header-cell *matHeaderCellDef mat-sort-header> New Deaths </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngStyle]="{'color': element.cases.new? 'red' : ''}">
                {{element.deaths.new|number:'2.'}} </mat-cell>
        </ng-container>

        <!-- Recovered Column -->
        <ng-container matColumnDef="recovered">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Recovered </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cases.recovered|number:'2.'}} </mat-cell>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cases.active|number:'2.'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


<hr>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p>
                Let's battle the COVID-19 as a nation! Please every one follow the rules put forth by our Central and
                state Government.
                Humanity will rise and we will win this war! #StayHomeStaySafe
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-3">
            <div class="card infocard">
                <p>SIVA</p>
            </div>
        </div>
    </div>
</div>