.pad{
    padding: 15px;
}
.row{
    text-align: center;
}
.noneed{
    font-size: 2px;
}
h5{
   font-size: 18px;
   font-weight: 900px;
   text-transform: uppercase;
}
h2{
    font-size: 25px;
    font-family: cursive;
}
.fixed{
    width: 500px;
}
.country{
    font-weight: 900;
    font-family: auto;
    font-size: 20px;
}