table{
   text-align: center;
   
}
.header{
   text-transform: uppercase;
   background-color: black;
   font-size: 14px;
   font-family: monospace;
}
tbody{
   font-weight: 900px;
   font-family: auto;
  
}